@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

faont-face {
  font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
  font-size: 14px;
}
a {
  color: inherit;
  text-decoration: none;
}
ol,ul {
  list-style: none;
}